build/
out/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
compile_commands.json
install_manifest.txt

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/

*.obj
*.o
*.lo
*.la
*.a
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb
*.idb

*.log
*.tmp
*.cache

.vs/
.vscode/

imgui.ini

